<p>
    <strong>started_at: </strong>
    <%= l(@event.started_at, format: :long) %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Text:</strong>
  <%= @event.description %>
</p>

<p>
  <%= image_tag @event.cover.url %>
</p>

<p>
    <strong>link: </strong>
    <%= link_to @event.link, @event.link %>
</p>

<%= link_to t('back'), events_path %>
